# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/core
/bin

# dependencies
/node_modules

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store
Thumbs.db
