{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "*/**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html",
    "lcovonly"
  ],
  "sourceMap": true,
  "instrument": true
}
